body{
    margin:0;
    background-image: url("https://static.toiimg.com/photo/msid-101366699,width-96,height-65.cms");
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}
#clock-container
{
    display:flex;
    justify-content:center;
    height:100vh;
    align-items: center;
}
#clock
{
    font-size:7rem;
    font-family:monospace;
    font-weight:bold;
    text-align:center;
    color:white;
    backdrop-filter: blur(6px);
    background-color:rgba(255, 255, 255, 0.1);
    width:100%;
}
